db-mlops/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "db-mlops"
		},
		"db_mlops_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'db_mlops'"
		},
		"db_mlops_staging_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'db_mlops_staging'"
		},
		"AzureKeyVault_ADF_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://miguel-kv.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_ADF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_ADF_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_mlops')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4072795347483377.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('db_mlops_accessToken')]"
					},
					"existingClusterId": "0615-192530-lefty261"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_mlops_staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4072795347483377.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('db_mlops_staging_accessToken')]"
					},
					"existingClusterId": "0615-192530-lefty261"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_ml_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "data_ml_pipeline",
				"activities": [
					{
						"name": "feature_engineering",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "ETL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/Shared/db-automation/ML/fe_pre_model.py",
							"parameters": []
						},
						"linkedServiceName": {
							"referenceName": "db_mlops",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL",
						"type": "DatabricksSparkPython",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/Shared/db-automation/ETL/files.py",
							"parameters": [],
							"libraries": [
								{
									"whl": "dbfs:/FileStore/Shared/db-automation/libraries/dbxdemo-0.0.15-py3-none-any.whl"
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "db_mlops",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "batch_inference",
						"type": "DatabricksSparkPython",
						"dependsOn": [
							{
								"activity": "feature_engineering",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pythonFile": "dbfs:/FileStore/Shared/db-automation/ML/batch_model.py",
							"parameters": [
								"-m mlops-wine-model",
								"@pipeline().parameters.environment",
								"-r dbfs:/FileStore/Shared/db-automation",
								"-t wine_output_table_1"
							]
						},
						"linkedServiceName": {
							"referenceName": "db_mlops",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"environment": {
						"type": "string",
						"defaultValue": "-s test"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_mlops')]"
			]
		}
	]
}